

<html >

<head>
  <meta charset="UTF-8">
  <title>Chatta med LLama3</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/static/css/style.css"> 
  
</head>

<body>
    <div class="ban">
      <h3>Chatta med Llama3</h3>
      <p class="float-title">Ange en prompt i den vänstra textrutan och skicka, och få ett svar i den högra!</p>
      <form class="container" method="POST" enctype="multipart/form-data">
          <div class="left-half"> 
          <textarea name="prompt" cols="100" rows="50"></textarea>
            <p>
          <input type="submit" value="Skicka">
          </div>
          <div class="right-half">
          <textarea  name="answer" cols="120" rows="50">{{display}}</textarea>
          </div>
      </form>
    </div>
    <a href="/dashboard" class="back-button">⬅️ Dashboard</a> 

</body>
</html>