<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/css/style.css"> 
</head>

<body>
    <div class="ban">
        {% if userId %}
            <h5 style="text-align: left">Du är inloggad, {{userId}}</h5>
        {% endif %}
        <h3>Välkommen till Dashboard</h3>
    </div>
    <div class="button-container">
        <br>
        <a href = "/category"> <button class="styled-button">📂   E-postkategori och koppling</button></a><br>
        <a href = "/payment"><button class="styled-button">💰   Betalningsmatchning        </button></a><br>
        <a href = "/forward"> <button class="styled-button">🚀   Skapa Vidarebefordrad Mejl </button ></a><br> 
        <a href = "/summary">  <button class="styled-button">📊   Sammanfattning             </button></a><br>
        <a href = "/log"> <button class="styled-button">📜   Skapa Kronologisk Logg     </button></a><br>
        <a href = "/health"> <button class="styled-button">🗄️  hälsokontroll    </button></a><br>
        <hr><br>
        <a href="/logout"><button class="styled-button">🔓   Logout                     </button>
    </div>
    <div class="button-container">
    <!--<h3>För testning</h3>
        <a href = "/update'"><button  class="styled-button">Uppdatera Vektordatabas</button></a><br>
        <a href = "/chat"><button  class="styled-button">Chatta med LLama3</button></a>
    <hr>
    </div>-->
</body>

</html>