<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login with Google</title>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/css/style.css"> 
</head>
<body>
    <div class="ban">
        <br><br>
        <br><br>
    </div>
        <div class="login-container">
        <h3>Välkommen, endast för intern testning.</h3>

        <p>Vänligen logga in med samma Google-konto som du använder för DRP</p>
        <a href="/login/google">
            <button class="login-button">
                <img src="https://developers.google.com/identity/images/g-logo.png" alt="Google Logo" class="google-icon">
                Logga in med Google</button></a>
                <br><br>
        <br><br><br><br>
        <br><br>
        </div>

</body>
</html>