<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Logout Successful</title>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/css/style.css">
    <script>
        // Clear all browser storage immediately
        if (typeof(Storage) !== "undefined") {
            localStorage.clear();
            sessionStorage.clear();
        }

        // Clear all cookies for this domain
        document.cookie.split(";").forEach(function(c) {
            document.cookie = c.replace(/^ +/, "").replace(/=.*/, "=;expires=" + new Date().toUTCString() + ";path=/");
            document.cookie = c.replace(/^ +/, "").replace(/=.*/, "=;expires=" + new Date().toUTCString() + ";path=/;domain=127.0.0.1");
            document.cookie = c.replace(/^ +/, "").replace(/=.*/, "=;expires=" + new Date().toUTCString() + ";path=/;domain=localhost");
        });

        // Force clear specific cookies
        document.cookie = "session=; expires=Thu, 01 Jan 1970 00:00:00 GMT; path=/;";
        document.cookie = "access_token=; expires=Thu, 01 Jan 1970 00:00:00 GMT; path=/;";
        document.cookie = "jwt=; expires=Thu, 01 Jan 1970 00:00:00 GMT; path=/;";
    </script>
</head>

<body>
    <div class="ban">
        <h3>✅ Logout Successful</h3>
        <p>{{ message }}</p>
    </div>
    <div class="button-container">
        <br>
        <a href="/login"><button class="styled-button">🔓 Login Again</button></a><br>
    </div>
</body>

</html>